In [19]:
import sqlite3

In [20]:
con = sqlite3.connect('./test_db')

In [21]:
cur = con.cursor()

In [22]:
for row in cur.execute('SELECT * FROM person'):
    print(row)
    for column in row:
        print(column)
        for column in row:
            print(column)

(1, 'name_a', 10.5)
1
1
name_a
10.5
name_a
1
name_a
10.5
10.5
1
name_a
10.5
(3, 'c_update', 3.14)
3
3
c_update
3.14
c_update
3
c_update
3.14
3.14
3
c_update
3.14

In [23]:
insert_sql = 'INSERT INTO person VALUES(?,?,?)'

In [24]:
insert_param = (100,'name_z',99.9)

In [25]:
cur.execute(insert_sql,insert_param)

In [26]:
con.commit

In [27]:
cur.execute('SELECT * FROM person WHERE size > :size',{'size':10})

In [28]:
print(cur.fetchall())

[(1, 'name_a', 10.5), (100, 'name_z', 99.9)]

In [31]:
update_sql = 'UPDATE person SET name = ? WHERE id = ?'
update_param = ('changed_name',1)
cur.execute(update_sql,update_param)

In [33]:
for row in cur.execute('SELECT * FROM person'):
    print(row)

(1, 'changed_name', 10.5)
(3, 'c_update', 3.14)
(100, 'name_z', 99.9)

In [35]:
delete_sql = 'DELETE FROM person WHERE id = 100';
cur.execute(delete_sql)

In [36]:
for row in cur.execute('SELECT * FROM person'):
    print(row)

(1, 'changed_name', 10.5)
(3, 'c_update', 3.14)

In [40]:
con.close()

In [39]:
#cur.execute('SELECT * FROM person WHERE size > :size',{'size':10})