In [15]:
from sqlalchemy import create_engine

In [16]:
from sqlalchemy.orm import Session

In [17]:
from test_model import Human

In [18]:
from test_model import Person

In [19]:
engine = create_engine('sqlite:///test_db', echo=True)

In [21]:
session = Session(engine)

In [22]:
humans = session.query(Human).all()

2022-06-25 17:42:49,518 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-25 17:42:49,521 INFO sqlalchemy.engine.Engine SELECT human.id AS human_id, human.name AS human_name, human.height AS human_height, human.weight AS human_weight
FROM human
2022-06-25 17:42:49,522 INFO sqlalchemy.engine.Engine [generated in 0.00125s] ()

In [23]:
for human in humans:
    print(f'id:{human.id} name:{human.name} height:{human.height} weight:{human.weight}')

id:1 name:スザク height:176.5 weight:60.4
id:2 name:ルルーシュ height:178.5 weight:65.4
id:3 name:CC height:150.5 weight:35.4
id:11 name:a height:11.11 weight:11.11
id:12 name:b height:12.12 weight:12.12
id:13 name:c height:13.13 weight:13.13

In [24]:
persons = session.query(Person).all()

2022-06-25 17:44:08,702 INFO sqlalchemy.engine.Engine SELECT person.id AS person_id, person.name AS person_name, person.size AS person_size
FROM person
2022-06-25 17:44:08,704 INFO sqlalchemy.engine.Engine [generated in 0.00161s] ()

In [25]:
for person in persons:
    print(f'id:{person.id} name:{person.name} size:{person.size}')

id:1 name:name_a size:10.5
id:3 name:c_update size:3.14
id:4 name:from_model size:2.236
id:11 name:a size:10.5
id:12 name:b size:None
id:13 name:c size:3.14

In [8]:
import sqlite3

In [9]:
con = sqlite3.connect('./test_db')

In [10]:
cur = con.cursor()

In [11]:
for row in cur.execute('SELECT * FROM person'):
    print(row)

(1, 'name_a', 10.5)
(3, 'c_update', 3.14)
(4, 'from_model', 2.236)
(11, 'a', 10.5)
(12, 'b', None)
(13, 'c', 3.14)

In [12]:
for row in cur.execute('SELECT * FROM human'):
    print(row)

(1, 'スザク', 176.5, 60.4)
(2, 'ルルーシュ', 178.5, 65.4)
(3, 'CC', 150.5, 35.4)
(11, 'a', 11.11, 11.11)
(12, 'b', 12.12, 12.12)
(13, 'c', 13.13, 13.13)