In [67]:
from sqlalchemy import create_engine

In [68]:
from sqlalchemy.orm import Session

In [69]:
from test_model import Human

In [70]:
engine = create_engine('sqlite:///test_db', echo=True)

In [71]:
session = Session(engine)

In [72]:
humans = session.query(Human).all()

2022-06-25 17:42:32,222 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-25 17:42:32,223 INFO sqlalchemy.engine.Engine SELECT human.id AS human_id, human.name AS human_name, human.height AS human_height, human.weight AS human_weight
FROM human
2022-06-25 17:42:32,225 INFO sqlalchemy.engine.Engine [generated in 0.00144s] ()

In [73]:
for human in humans:
    print(f'id:{human.id} name:{human.name} height:{human.height} weight:{human.weight}')

id:1 name:スザク height:176.5 weight:60.4
id:2 name:ルルーシュ height:178.5 weight:65.4
id:3 name:CC height:150.5 weight:35.4
id:11 name:a height:11.11 weight:11.11
id:12 name:b height:12.12 weight:12.12
id:13 name:c height:13.13 weight:13.13

In [26]:
new_human = Human(id=4, name='カレン', height = 175.1, weight = 50)

In [27]:
session.add(new_human)

In [32]:
session.commit()

2022-06-25 15:53:10,075 INFO sqlalchemy.engine.Engine COMMIT

In [34]:
humans = session.query(Human).all()

2022-06-25 15:53:28,330 INFO sqlalchemy.engine.Engine SELECT human.id AS human_id, human.name AS human_name, human.height AS human_height, human.weight AS human_weight
FROM human
2022-06-25 15:53:28,332 INFO sqlalchemy.engine.Engine [cached since 541.5s ago] ()

In [35]:
for human in humans:
    print(f'id:{human.id} name:{human.name} height:{human.height} weight:{human.weight}')

id:1 name:スザク height:176.5 weight:60.4
id:2 name:ルルーシュ height:178.5 weight:65.4
id:3 name:CC height:150.5 weight:35.4
id:4 name:カレン height:175.1 weight:50.0

In [37]:
human4 = session.query(Human).filter(Human.id==4).first()

2022-06-25 15:54:24,027 INFO sqlalchemy.engine.Engine SELECT human.id AS human_id, human.name AS human_name, human.height AS human_height, human.weight AS human_weight
FROM human
WHERE human.id = ?
 LIMIT ? OFFSET ?
2022-06-25 15:54:24,029 INFO sqlalchemy.engine.Engine [generated in 0.00183s] (4, 1, 0)

In [38]:
human4.weight = 50.5

In [39]:
session.commit()

2022-06-25 15:55:15,163 INFO sqlalchemy.engine.Engine UPDATE human SET weight=? WHERE human.id = ?
2022-06-25 15:55:15,165 INFO sqlalchemy.engine.Engine [generated in 0.00204s] (50.5, 4)
2022-06-25 15:55:15,166 INFO sqlalchemy.engine.Engine COMMIT

In [40]:
humans = session.query(Human).all()

2022-06-25 15:56:24,844 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-25 15:56:24,845 INFO sqlalchemy.engine.Engine SELECT human.id AS human_id, human.name AS human_name, human.height AS human_height, human.weight AS human_weight
FROM human
2022-06-25 15:56:24,845 INFO sqlalchemy.engine.Engine [cached since 718.1s ago] ()

In [41]:
for human in humans:
    print(f'id:{human.id} name:{human.name} height:{human.height} weight:{human.weight}')

id:1 name:スザク height:176.5 weight:60.4
id:2 name:ルルーシュ height:178.5 weight:65.4
id:3 name:CC height:150.5 weight:35.4
id:4 name:カレン height:175.1 weight:50.5

In [60]:
session.query(Human).filter(Human.id==4).delete()

2022-06-25 16:04:38,028 INFO sqlalchemy.engine.Engine DELETE FROM human WHERE human.id = ?
2022-06-25 16:04:38,029 INFO sqlalchemy.engine.Engine [cached since 68.37s ago] (4,)

1

In [61]:
session.commit()

2022-06-25 16:04:38,455 INFO sqlalchemy.engine.Engine COMMIT

In [62]:
humans = session.query(Human).all()

2022-06-25 16:04:38,682 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-06-25 16:04:38,683 INFO sqlalchemy.engine.Engine SELECT human.id AS human_id, human.name AS human_name, human.height AS human_height, human.weight AS human_weight
FROM human
2022-06-25 16:04:38,684 INFO sqlalchemy.engine.Engine [cached since 1212s ago] ()

In [63]:
for human in humans:
    print(f'id:{human.id} name:{human.name} height:{human.height} weight:{human.weight}')

id:1 name:スザク height:176.5 weight:60.4
id:2 name:ルルーシュ height:178.5 weight:65.4
id:3 name:CC height:150.5 weight:35.4

In [64]:
session.close()

2022-06-25 16:04:43,354 INFO sqlalchemy.engine.Engine ROLLBACK